<ul class="list-group" id="contact-list">
                    <li class="list-group-item" ng-repeat="contact in contacts">
                        <div class="col-xs-12 col-sm-3">v cxcx 
                            <img src="images/480164327.jpg" alt="Scott Stevens" class="img-responsive img-circle">
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name"><strong>{{contact.name}}</strong></span><br>
                            <span class="title">{{contact.jobTitle}}</span><br>
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="{{contact.Address}}"></span>
                            <span class="visible-xs"> <span class="text-muted">{{contact.Address}}</span><br></span>
                            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="{{contact.Phone}}"></span>
                            <span class="visible-xs"> <span class="text-muted">{{contact.Phone}}</span><br></span>
                            <span class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="{{contact.email}}"></span>
                            <span class="visible-xs"> <span class="text-muted">{{contact.email}}</span><br></span>
                            <div><button class="btn btn-default" type="button" ng-submit="showDetails('{{contact.id}}')">More</button> </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        
                
                    </li>
                    
                </ul>
