<script>

$(function(){
	 $("a[data-toggle='tooltip']").tooltip();
	});
</script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-banner" style="margin-top: -40px;">
<div class="row">

<img src="/images/images.jpg" width="100%" height="100px;">
</div>
</div>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-body p-t-0">
                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="example-input1-group2" ng-model="searchText" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body-add p-t-0">
                    <div class="input-group">
                         <a class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" ng-click="addContact()" data-original-title="Add Contact">
                                <i class="fa fa-user-plus fa-3x"></i>
                           </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-6" ng-repeat="contact in contacts| filter:searchText | orderBy:'name' track by $index">
            <div class="panel">
                <div class="panel-body p-t-10">
                    <div class="media-main">
                        <a class="pull-left" href="#">
                            <img class="thumb-lg img-circle bx-s" ng-src="{{contact.photo}}" alt="">
                           
                        </a>
                        <div class="pull-right btn-group-sm">
                            <a class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" ng-click="editContact(contact.id)" data-original-title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" ng-click="deleteContact(contact.id, contact.name)" data-original-title="Delete">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                        <div class="info">
                            <h4>{{contact.name}}</h4>
                            <p class="text-muted">{{contact.jobTitle}}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
    </div>
</div>

<div class="footer">
      <div class="container-align-center">
      
      <div class="row" >
        <div>
          Copyright &copy; 2017 <a href="#"><span>Personaldirectory</span><span>.</span><span>com</span></a>, all rights reserved.
        </div>
      </div>
   </div> 
</div>


<!--  Modal window to Add and Edit Contact -->
<div id="editContactModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-background">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-if="id!=''">Edit Contact</h4>
                <h4 class="modal-title" ng-if="id ==''">Add Contact</h4>
            </div>
            <div class="modal-body">
            
                 <form role="form">
                 <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Full Name</label>
                      <input type="text" class="form-control"
                      id="name" ng-model="fullName" placeholder="Full Name"/>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="title">Job Title</label>
                      <input type="text" class="form-control"
                          id="title" ng-model="jobTitle" placeholder="Job Title"/>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                      <input type="text" class="form-control"
                          id="phone" ng-model="phone" placeholder="Phone Number"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="email">Email</label>
                      <input type="email" class="form-control"
                          id="email" ng-model="email" placeholder="Email address"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="address">Address</label>
                      <input type="text" class="form-control"
                          id="address" ng-model="address" placeholder="Address"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="facebook">Facebook</label>
                      <input type="text" class="form-control"
                          id="facebook"  ng-model="facebook" placeholder="Facebook Profile"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="twitter">Twitter</label>
                      <input type="text" class="form-control"
                          id="twitter" ng-model="twitter" placeholder="Twitter hashtag"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="linkedin">LinkedIn</label>
                      <input type="text" class="form-control"
                          id="linkedin" ng-model="linkedin" placeholder="Linkedin profile"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="skype">Skype</label>
                      <input type="text" class="form-control"
                          id="skype" ng-model="skype" placeholder="Skype ID"/>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="photo">Photo</label>
                      <input type="file" class="form-control"
                          id="photo" ng-model="photo" placeholder="Update Profile Pic"/>
                  </div>
                  <input type="hidden" ng-model="id"/> 
                  </div>
                  <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-if="id!=''" ng-click="saveEditedContact()">Save changes</button>
                <button type="button" class="btn btn-primary" ng-if="id==''" ng-click="saveNewContact()">Add Contact</button>
                </div>
                  
                  </form>
            </div>
            
        </div>
    </div>
</div>








	
